﻿
<gs-sidebar [map]="map" 
            [markers]="markers"
            [currentLocation]="currentLocation"
            [(filterName)]="filterName"
            (onFeatureClicked)="focusMarker($event)"
            (onFilterChange)="updateMarkers()"></gs-sidebar>
<div id="map"></div>