﻿<div class='navbar navbar-inverse navbar-fixed-top' role="navigation">
    <div class='container-fluid'>
        <div class="navbar-header">
            <div class="navbar-icon-container">
                <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"
                   (click)="onSidebarToggleClick()"><i class="fa fa-bars fa-lg white"></i></a>
            </div>
            <a class="navbar-brand"
               [routerLink]="['']">PokemonTracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="hidden-xs">
                    <a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="list-btn"
                       (click)="onSidebarToggleClick()">
                        <i class="fa fa-list white"></i>&nbsp;&nbsp;Nearby Pokemon List
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>