﻿<div id="sidebar">
    <div class="sidebar-wrapper">
        <div class="panel panel-default" id="features">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Points of Interest
                    <button (click)="onSidebarHideClick()"
                            type="button" 
                            class="btn btn-xs btn-default pull-right" 
                            id="sidebar-hide-btn">
                    <i class="fa fa-chevron-left"></i></button>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <input type="text" 
                               class="form-control search" 
                               placeholder="Filter"
                               [ngModel]="filterName"
                               (ngModelChange)="filterChanged($event)"/>
                    </div>
                </div>
            </div>
            <div class="sidebar-table">
                <table class="table table-hover" id="feature-list">
                    <thead class="hidden">
                        <tr>
                            <th>Icon</th>
                        <tr>
                        <tr>
                            <th>Name</th>
                        <tr>
                        <tr>
                            <th>Chevron</th>
                        <tr>
                    </thead>
                    <tbody class="list"
                           *ngIf="filteredMarkers && filteredMarkers.length">
                        <tr *ngFor="let marker of filteredMarkers | pokemonNameFilter:filterName"
                            class="feature-row" 
                            (click)="featureClicked(marker.id)">
                            <td style="vertical-align: middle;"><img width="16" height="18" [src]="marker.iconUrl"></td>
                            <td class="feature-name">{{ marker | pokemonInfo:currentLocation }}</td>
                            <td style="vertical-align: middle;"><i class="fa fa-chevron-right pull-right"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>